@page "/autor/index"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<MudText Class="ml">
    <h1>Mantenimiento de Autores</h1>
</MudText>

@*<h1>Mantenimiento de Autores</h1>
*@<MudTable Items="@autores" Dense="true" Hover="true" Bordered="true" Striped="true">
    <ToolBarContent>
        <MudFab id="nuevo" Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" OnClick="goAdd" />
        <MudSpacer />
        <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd>
            <MudButton id="editar" Link="@($"/autor/editar/{context.Id}")" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Dark"
                       Class="text-center">Editar</MudButton>
            <MudButton id="eliminar" Link="@($"/autor/eliminar/{context.Id}")" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error"
                       Class="text-center">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Autor> autores = new List<Autor>();
    private string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        httpClient.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.GetStringAsync("autor");
        autores = JsonSerializer.Deserialize<IEnumerable<Autor>>(httpResponse, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("autor/agregar");
    }
}
<style>
    h1{
       text-align:center;     
   }
   #nuevo{
        background-color:blue;
    }
    #nuevo:hover{
         background-color:white;
         color:blue;
         border:2px solid blue;
    }
    #editar{
        background-color:green;
        color:white;
        border:2px solid green;
    }
    #editar:hover{
        background-color: white;
        color:green;
    }
     #eliminar{
         background-color:red;
        color:white;
        border:2px solid red;
    }
    #eliminar:hover{
        background-color:white;
        color:red;
    }
</style>
