@page "/usuario/index"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<h1>Mantenimiento de Usuarios</h1>

<MudTable Items="@usuarios" Hover="true" Bordered="true" Striped="true">
    <ToolBarContent>
        <MudFab id="nuevo" Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" OnClick="goAdd" />
        <MudSpacer />
        <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Apellido</MudTh>
        <MudTh>Login</MudTh>
        <MudTh>Estado</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Apellido">@context.Apellido</MudTd>
        <MudTd DataLabel="Login">@context.Login</MudTd>
        @if(context.Estatus == 1)
        {
            <MudTd DataLabel="Estatus">Activo</MudTd>
        }
        else
        {
            <MudTd DataLabel="Estatus">Inactivo</MudTd>
        }

        <MudTd>
            <MudButton id="editar" Link="@($"/usuario/editar/{context.Id}")" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Dark"
                       Class="text-center">Editar</MudButton>
            <MudButton id="eliminar" Link="@($"/usuario/eliminar/{context.Id}")" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error"
                       Class="text-center">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Usuario> usuarios = new List<Usuario>();
    private string searchText = "";
   
    private Usuario usuario = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        httpClient.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.PostAsJsonAsync("usuario/buscar", usuario);
        string respString = await httpResponse.Content.ReadAsStringAsync();
        usuarios = JsonSerializer.Deserialize<IEnumerable<Usuario>>(respString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("usuario/agregar");
    }
}

<style>
    h1{
        text-align: center;
    }
     #nuevo{
        background-color:#252850;
    }
    #nuevo:hover{
         background-color:white;
         color:#252850;
         border:2px solid rgba(0, 0, 0, 0.9);
    }
    #editar{
        background-color:blue;
        color:white;
        border:2px solid blue;
    }
    #editar:hover{
        background-color: white;
        color:blue;
    }
     #eliminar{
         background-color:red;
        color:white;
        border:2px solid red;
    }
    #eliminar:hover{
        background-color:white;
        color:red;
    }
</style>


